.mainNav {
  display: flex;
}

.mainNav li {
  list-style-type: none;
  margin-right: 20px;
}

.mainNavLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.mainNavLink:active {
  color: red;
}
